/* Could use SASS to change this from Bootstrap-ey to more custom, especially with color */
body::before {
    display: block;
    content: '';
    height: 60px;
}

/*Borders of fields for validation and indication*/
input:invalid{
    box-shadow: 0 0 2px .5px red;
}
textarea:invalid{
    box-shadow: 0 0 2px .5px red;
}
/*Spacing around fields this is in place of <br>*/
label{
    display: block; 
    padding-top: 5px
}

/* Mapbox CSS to make it display */
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (min-width: 768) {
    .news-input {
        width: 50%;
    }
}